body {
    background-image: url("images/background.jpeg");
    font-size: 20px;
    font-weight: bold;}

.container {
    height: 830px;
    display: flex;
    align-items: center;

}

.frame {
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 20px;
    margin: auto;
    width: 50%;
    border: 7px solid black;
    border-radius: 30px;
    width: 400px;
    height: 600px;
    background-color: rgba(14, 12, 12, 0.623);

}

button {
    background-color: rgba(0, 0, 0, 0.562);
    color: rgba(255, 255, 255, 0.750);
    width: auto;
    height: 70px;
    border: 4px solid black;
    border-radius: 10px;
    font-size: 25px;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.568);
}

button:hover{
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.247);
}

.buttonContainer {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    gap: 6px;
    height: 400px;
}

.display {
    background-color: rgba(0, 0, 0, 0.562);
    color: rgba(255, 255, 255, 0.750);
    display: grid;
    justify-content: end;
    align-content: center;
    width: 300px;
    height: 100px;
    border: 4px solid black;
    border-radius: 10px;
}

#zero{
    grid-column-start: 1;
    grid-column-end: 3;
}

.display > div{
    padding: 10px;
}

.display > div > p{
    text-align: end;
}

#displayTwo{
    font-size: 30px;
    font-weight: bold;
    line-height: 15%;
}

.disabled{
    background-color: rgba(0, 0, 0, 0.562);
    color: rgba(0, 0, 0, 0.562);
}